@page "/"
@inject NavigationManager NavigationManager

<h1>Unnecessary Roughness</h1>

UR is based on historical football game called <a href="https://en.m.wikipedia.org/wiki/Calcio_Fiorentino" target="_blank" rel="noopener noreferrer">Calcio Storico</a>.

<button class="btn btn-primary" @onclick="NavigateToGame">Play</button>

<hr />

<a href="/about">About</a>

@code {
    private void NavigateToGame()
    {
        var random = new Random();
        NavigationManager.NavigateTo($"/play/{random.Next(1, 1000)}");
    }
}
